<!DOCTYPE HTML>
<html>
<head>
<title>dashboard</title>
<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/assets/highcharts.js"></script>

<script type="text/javascript">

    var graph_data = {};

    <% @graph_data.each do |data|%>
        graph_data['<%= data["name"].strip%>'] = parseInt("<%= data['delay'].strip.to_i rescue 0%>");
    <% end %>

    $(function () {
        $('#graph').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Average Point to Point Delays'
            },
            xAxis: {
                categories: ['Ordered  - Received at reception', 'Received at reception - Received in department',
                            'Received in department - Test started', 'Test started - Tested', 'Tested - Verified', "Verified - Reviewed"],
                title: {
                    text: null
                },
                labels: {
                    style:{
                        color: 'black',
                        fontSize: '12px'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Time (hours)',
                    align: 'high',
                    style:{
                        color: 'black',
                        fontSize: '15px'
                    }
                },
                labels: {
                    overflow: 'justify',
                    style:{

                        fontSize: '15px'
                    }
                }
            },
            tooltip: {
                valueSuffix: ' hour(s)'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                enabled: true,
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 0,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'delay',
                data: [(graph_data['Received At Reception'] || 0),
                (graph_data['Received In Department'] || 0),
                (graph_data['Testing'] || 0),
                (graph_data['Tested'] || 0),
                (graph_data['Verified'] || 0),
                (graph_data['Reviewed'] || 0)
                ]
            }]
        });
    });


</script>
<style>
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }

</style>
</head>
<body>
<div class="holder row-fluid" style="position: absolute; left:5%; top:9vh; width:90%;">

  <%
     @stats = [[["Ordered", "Drawn"], "Ordered"],
               [["Received At Reception"], "Received At Reception"],
               [["Received In Department"], "Received In Department"],
               [["Testing"], "In Progress"],
               [["Tested"], "Waiting verification"],
               [['Reviewed'], "Waiting review in ward"],
               [['Sample Rejected', 'Test Rejected', 'Result Rejected'], 'Rejected']
     ]
  %>

  <div class="row-fluid" style="width:98%; margin: auto; margin-top: 0px;">
    <!-- block -->
    <div class="block">

      <div class="header navbar navbar-inner block-header">
        <div class=" muted pull-left">Cases</div>
      </div>

      <div class="block-content collapse in">
        <div style="width:100%;height:45vh;">
          <div id='current_stats' class="pull-left" style="width:35%;height:100%;">
            <span style="color: lightblue;font-size: 16px;padding-left: 40%;margin-top: 90px;">Loading ...</span>
          </div>
          <div id='graph' class="pull-right" style="width:65%;height:100%;padding:0px;">

          </div>
        </div>
      </div>
    </div>
    <!-- /block -->
  </div>

  <div class="row-fluid" style="width:98%; margin: auto;">
  <!-- block -->
  <div class="block">

    <div class="block-content collapse in">
      <div style="width:100%;">
        <table class="table table-bordered">
          <tbody>
          <%
            @data.each_with_index do  |obj, i|%>
                <% if i % 3 == 0%>
                  <tr class="row">
                <% end %>
                    <td><a href="#"><span class="badge badge-info pull-right"><%= obj['count']%></span> <%=  obj['test_name']%></a></td>
                <% if i % 3 == 2%>
                  </tr>
                <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /block -->
</div>



</div>
<script>

  function getData(obj){

      var rst;

      if(parseInt(obj['Ordered']) > 0 ||
              parseInt(obj['Received At Reception']) > 0 ||
              parseInt(obj['Received In Department']) > 0 ||
              parseInt(obj['Testing']) ||
              parseInt(obj['Testing']) > 0){

          rst = [
              ['Ordered', (parseInt(obj['Ordered']))],
              ['Received At Reception', parseInt(obj['Received At Reception'])],
              ['Received In Department', parseInt(obj['Received In Department'])],
              ['Tests in Progress', parseInt(obj['Testing'])],
              ['Waiting Verification', parseInt(obj['Tested'])]
          ];
      }else {

          rst = [
              ['No active orders available', 1]
          ];
      }

      return rst;
  }

  function loadPieChart(info) {

      $(function () {

          // Radialize the colors
          Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
              return {
                  radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                  stops: [
                      [0, color],
                      [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                  ]
              };
          });

          // Build the chart
          $('#current_stats').highcharts({
              chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
              },
              title: {
                  text: 'Current (Active) order statistics <br /> '
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.y:.0f}</b>'                     
                  
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: true,
                          format: '<b>{point.name}</b> <br />: {point.y:.0f}',
                          style: {
                              color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                          },
                          connectorColor: 'silver'
                      }
                  }
              },
              credits: {
                  enabled: false
              },
              series: [
                  {
                      type: 'pie',
                      name: 'Total orders',
                      colorByPoint: true,
                      data: getData(info)
                  }
              ]
          });
      });
  }

  jQuery.ajax({
      url: '/home/active_stats',
      success: function(data){
          data = JSON.parse(data);
          loadPieChart(data);
      }
  })

</script>
</body>
</html>
