default: &default
    order_transport_protocol: http
    order_username: testlab1_admin
    order_password: admin123
    order_server: localhost
    order_port: 80
    order_server_login: /blis/htdocs/api/remote_login.php
    order_server_login_check: /blis/htdocs/api/remote_login_check.php
    order_server_logout: /blis/htdocs/api/remote_logout.php?
    order_server_user_details: /blis/htdocs/api/remote_calls.php?action=get_user_details&username=
    order_server_user_update_path: /blis/htdocs/api/update_credentials.php
    order_server_users: /blis/htdocs/api/get_users.php
    order_server_tables: /blis/htdocs/api/get_tables.php
    order_server_lab_sections: /blis/htdocs/api/get_lab_sections.php
    order_server_test_type_save: /blis/htdocs/api/test_type_create_or_edit.php
    user_management_protocol: http
    user_management_server: localhost
    user_management_port: 3009
    user_management_name: admin
    user_management_password: password
    user_management_login: /remote_login/
    user_management_logout: /remote_logout/
    user_management_authenticate: /remote_authentication/
    user_management_wards: /get_wards
    user_management_names: /get_user_names
    user_management_user_update_path: /update_credentials
    user_create_or_edit_link: /blis/htdocs/api/user_create_or_edit.php
    order_server_actions: /blis/htdocs/api/test_type_actions.php    
    order_search_path: /blis/htdocs/api/orders_search.php
    single_order_search_path: /blis/htdocs/api/orders
development:
  <<: *default

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
    <<: *default

production:
    <<: *default
