<%= javascript_include_tag "bootstrap-datepicker" %>
<%= stylesheet_link_tag "datepicker" %>

<script type="text/javascript">
</script>

<style type="text/css">
    .error{
        color: red;
        position: fixed;
    }
    .finish {
        margin-left: 30%;
    }
    .date{
        margin-left: 30%;
    }
    .add-on{
        margin-top: 1px;
    }
        body{
            background-color: white !important;
        }

        #datepicker input{
            font-size: 15px !important;
        }
</style>
<form id="form1">
    <div id="mainPage" class="page">
      <% if params['actionn'] == 'tb_report'%>
    <h2>Select year</h2>
      <div class="input-append date" id="datepicker" data-date="02-2012"
           data-date-format="yyyy">

        <input id='year' type="text" name="date" >
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
      <br />
      <div class="btn btn-success finish" onclick="loadValidationsTB()">Finish</div>
        <% else %>
      <h2>Select report range</h2>
      <div class="input-append date" id="datepicker1" data-date="02-2012" name="dp1">
        <label> Start date </label>
        <input  id='start_date' type="text"  name="start_date" >
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
    <br />
      <div class="input-append date" id="datepicker2" data-date="02-2012" name="dp2">
        <label> End date </label>
        <input  id='end_date' type="text"   name="end_date" >
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
      <br />
      <div class="btn btn-success finish" onclick="loadValidationsTBMQ()">Finish</div>
        <% end %>
    </div>
  </form>
 <script>

     $("#datepicker").datepicker( {
         format: " yyyy",
         viewMode: "years",
         minViewMode: "years"
     });

     $("#datepicker1").datepicker( {
         format: 'dd/mm/yyyy'
     });

     $("#datepicker2").datepicker( {
         format: 'dd/mm/yyyy'
     });


     function buildReportTB(){

        var year = document.getElementById('year').value;

        window.location = "/report/tb_report?year=" + year;

     }

     function buildReportTBMQ(){

         var start_date = document.getElementById('start_date').value;
         var end_date = document.getElementById('end_date').value;

         window.location = "/report/tb_report_mq?start_date=" + start_date + "&end_date=" + end_date;

     }

     function loadValidationsTB(){

         var year = document.getElementById('year').value;
         $("#year").val(year.trim());

         $("input").attr({
             'required': true,
             'number': true,
             'range': [2014, (new Date()).getFullYear()]
         })

         var form = $( "#form1" );

         form.validate();

         var check = form.valid();

         if (check){
             buildReportTB()
         }
     }

     function loadValidationsTBMQ(){

         $("input").attr({
             'required': true,
             'date': true
         })

         var form = $( "#form1" );

         form.validate();

         var check = form.valid();

         if (check){
             buildReportTBMQ()
         }
     }

     jQuery.validator.setDefaults({
         debug: true,
         success: "valid"
     });

 </script>
