
<style>
.subnav  {
  display: none !important;
}

.front-card {
  height: 328px;
  margin: -154px 0px 0px -418px;
  top: 150px;
  width: 838px;
  left: 50%;
  position: relative;
  color: #333333;
  vertical-align: baseline;
  padding: 0px;
  font: inherit;
}

.front-random-image-city-balcony .front-welcome {
  border-radius: 6px 6px 6px 6px;
}

.front-welcome {
  display: table;                                                               
  width: 837px;                                                                 
  height: 380px;                                                                
  margin: 0px auto;                                                             
  vertical-align: baseline;                                                     
  top: 10px;
}

body { 
  background: url('/assets/login.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

.front-signin {
  height: 150px;
  left: 90%;
  position: absolute;
  top: 10px;
  width: 243px;
  border: 1px;
  border-style: solid;
  border-radius: 14px 14px 14px 14px;
  background-color:  #f5f5f5;
  border-color: #D5D5D5;
}
.front-signin .placeholding-input {
  height: 15px;
}

.signin .password, .signin .username {
  font-size: 13px;
  width: 150px;
}

.username, .time, .time a, .metadata, .metadata a {
  color: #999999;
}

.placeholding-input input {
  top: 0px;
  position: absolute;
}

input, textarea {
  -moz-transition: background 0.2s linear 0s;
}

input, textarea, select {
  background-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  margin: 0px;
  outline: medium none;
  padding: 4px;
}

label, input, textarea, select, button {
  font: 13px/20px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#user_password {

  height: auto;
  margin-left: 12px;
}

#user_username {
  height: auto;
  margin-left: 12px;
}

.flex-table{

    width: 100% !important;
    height: 100% !important;
}
</style>

<div class="row-fluid">
  
    <div class="front-card">
        
      <% if flash[:error] %>                                                     
        <font id="flash" style="color:red;"><%= flash[:error] %></font>            
      <% end %>                                         
    

      <div class="front-welcome">
        <div class="front-welcome-text">
          <h1 style="margin-left:10px;top:50px;position:absolute;color: white;">Welcome to LIMS</h1>
          <p style="top:90px;margin-left:10px;position:absolute;color:white;width:350px;">
          View reports and access configurations</p>
        </div>
      </div>

      <div class="front-signin js-front-signin">
       <form action="authenticate" method="post" id="user">
       <table class="flex-table password-signin">

          <tr>
            <td><%=text_field(:user, :username, :textCase => "lower",:placeholder => "username") %> </td>
          </tr>
          <tr>
            <td><%=password_field(:user, :password, :textCase => "lower",:placeholder => "password") %>

          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="pull-right">
              <input type ="submit" class="btn btn-success" value="Login" /></td>
            </td>
          </tr>

       </table> 
       </form>
      </div>
    </div>
  </div>
</div>


